In [ ]:
import numpy as np

In [ ]:
# Retail dataset as numpy array

retail_np_array = np.array([
    [1001, "Laptop", 1, 50000, 50000],
    [1002, "Mouse", 2, 500, 1000],
    [1003, "Keyboard", 1, 1000, 1000],
    [1004, "Monitor", 2, 7000, 14000],
    [1005, "Headphones", 1, 2000, 2000]
], dtype=object)

retail_np_array

array([[1001, 'Laptop', 1, 50000, 50000],
       [1002, 'Mouse', 2, 500, 1000],
       [1003, 'Keyboard', 1, 1000, 1000],
       [1004, 'Monitor', 2, 7000, 14000],
       [1005, 'Headphones', 1, 2000, 2000]], dtype=object)

In [ ]:
# Extracting columns

customer_ids = retail_np_array[:, 0]

products = retail_np_array[:, 1]

quantities = retail_np_array[:, 2].astype(int)

prices = retail_np_array[:, 3].astype(int)

totals = retail_np_array[:, 4].astype(int)

In [ ]:
customer_ids

array([1001, 1002, 1003, 1004, 1005], dtype=object)

In [ ]:
products

array(['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
      dtype=object)

In [ ]:
quantities

array([1, 2, 1, 2, 1])

In [ ]:
prices

array([50000,   500,  1000,  7000,  2000])

In [ ]:
totals

array([50000,  1000,  1000, 14000,  2000])

In [ ]:
customer_ids1 = retail_np_array[:, 0]
customer_ids1

array([1001, 1002, 1003, 1004, 1005], dtype=object)

In [ ]:
retail_np_array.shape # returns the shape like rows and coloumns

(5, 5)

In [ ]:
print("1. Total number of transactions: ",retail_np_array.shape[0])

1. Total number of transactions:  5

In [ ]:
print("2. Total revenue generated: ",np.sum(totals))

2. Total revenue generated:  68000

In [ ]:
print("3. Average order value: ",np.mean(totals))

3. Average order value:  13600.0

In [ ]:
print("4. Product with the highest total price: ",products [np.argmax(totals)])

4. Product with the highest total price:  Laptop

In [ ]:
print("5. Product with the lowest total price: ",products [np.argmin(totals)])

5. Product with the lowest total price:  Mouse

In [ ]:
print("6. Average price of products: ",np.mean (prices))

6. Average price of products:  12100.0

In [ ]:
print("7. Total quantity sold: ",np.sum (quantities),)

7. Total quantity sold:  7

In [ ]:
print("8. Most frequently purchased product: ",np.unique(products, return_counts=True)[0][np.argmax(np.unique(products, return_counts=True)[1])])

8. Most frequently purchased product:  Headphones

In [ ]:
print("9. Number of unique products : ",len (np.unique (products)),)

9. Number of unique products :  5